/* Common Game Style */
.game-heading {
  font-size: 5rem;
  margin-top: 2vh;
}

.game-quiz {
  font-size: 4rem;
  margin: 4vh auto;
}

.game-instruction {
  font-size: 1.5rem;
}

.game-indication {
  font-size: 2rem;
  margin: 2vh auto;
}

.game-score {
  font-size: 2rem;
  margin: 2vh auto;
  width: min-content;
  display: grid;
  grid-template-columns: auto auto;
}

.score-sub {
  margin: 5px;
}

.game-result {
  font-size: 8rem;
  margin: 8vh auto;
}

/* Incorrect quiz */
.incorrect {
  color: red;
  text-shadow: 3px 3px 3px darkred;
  animation-name: expand;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Score up */
.score_up {
  animation-name: pump, flashGreen;
  animation-duration: 0.5s, 1s;
  animation-timing-function: ease-out, ease-out;
}

/* Score down */
.score_down {
  animation-name: pump, flashRed;
  animation-duration: 0.5s, 1s;
  animation-timing-function: ease-out, ease-out;
}

/* Win */
.win {
  color: yellow;
  animation-name: grow;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Lose */
.lose {
  color: purple;
  animation-name: wiggle;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flashGreen {
  0% {
    color: green;
  }
  100% {
    color: inherit;
  }
}

@keyframes flashRed {
  0% {
    color: red;
  }
  100% {
    color: inherit;
  }
}

@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}