{% extends "core/layout.html" %}
{% load static %}

{% block body %}
  <div class="view-container" id="activities-content-view" style="display: none">
    <h1>ACTIVITIES</h1>
    <div>
      <h3>Maths</h3>
      <ul class="inlineBtn">
        <li>
          <button class="gameBtn" id="btn-addition">
            <span class="gameBtnShadow"></span>
            <span class="gameBtnEdge"></span>
            <span class="gameBtnFront">
              Addition
            </span>
          </button>
        </li>
        <li>
          <button class="gameBtn" id="btn-subtraction">
            <span class="gameBtnShadow"></span>
            <span class="gameBtnEdge"></span>
            <span class="gameBtnFront">
              Subtraction
            </span>
          </button>
        </li>
        <li>
          <button class="gameBtn" id="btn-multiplication">
            <span class="gameBtnShadow"></span>
            <span class="gameBtnEdge"></span>
            <span class="gameBtnFront">
              Multiplicaion
            </span>
          </button>
        </li>
        <li>
          <button class="gameBtn" id="btn-division">
            <span class="gameBtnShadow"></span>
            <span class="gameBtnEdge"></span>
            <span class="gameBtnFront">
              Division
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div>
      <h3>English</h3>
      <ul class="inlineBtn">
        <li>
          <button class="gameBtn" id="btn-spelling">
            <span class="gameBtnShadow"></span>
            <span class="gameBtnEdge"></span>
            <span class="gameBtnFront">
              Spelling
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div>
      <h3>Games</h3>
      <ul class="inlineBtn">
        <li>
          <button class="gameBtn" id="btn-memory">
            <span class="gameBtnShadow"></span>
            <span class="gameBtnEdge"></span>
            <span class="gameBtnFront">
              Memory
            </span>
          </button>
          </li>
      </ul>
    </div>
  </div>

  <div class="view-container" id="activities-view" style="display: none">
    <h2 class="game-heading"></h2>
    <div></div>
  </div>
  
  <div class="view-container" id="activities-result-view" style="display: none">
    <div></div>
  </div>

  <script type="module" src="{% static 'games/games.js' %}"></script>
{% endblock %}
  