
.appear {
  animation-name: appear;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.hide {
  animation-name: hide;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}